<app-nav></app-nav>

<ul class="nav nav-pills nav-justified">
  <li><button (click)="TraerTodos()"  class="btn btn-outline-success my-2 my-sm-1">Todos los jugadores</button></li>
  <li><button (click)="TraerGanadores()" class="btn btn-outline-success my-2 my-sm-1">Los ganadores</button></li>
  <li><button (click)="TraerPerdedores()" class="btn btn-outline-success my-2 my-sm-1">Los perdedores</button></li>
</ul>



<table class="table table-condensed">
  <thead>
    <tr>
      <th>usuario</th>
      <th>cuit</th>
      <th>sexo</th>
      <th>gano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.usuario}} </td>
      <td>{{jugador.cuit}} </td> 
      <td>{{jugador.sexo | sexo| uppercase}} </td> 
      <td>{{jugador.gano}} </td> 
      
    </tr>
   
  </tbody>
</table>