div{
    margin-left:35px;
    margin-right:35px;
}


.btnpalanca {
    margin-left:250px;
    margin-right:0px;
    border-radius: 50px 20px;
}


.billetera {
    margin-left:300px;
    margin-right:0px;
    /*border-radius: 50px 20px;*/
}