<div class="jumbotron">
        <div class="container" style="margin-top: 0%">
            <div class="row">  
                   
                  <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
                       <img id="slot1"  src="./assets/imagenes/seven.png" alt="Card image cap" class="card-img-top" >
                  </div>
                  <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
                        <img id="slot2"  src="./assets/imagenes/seven.png" alt="Card image cap" class="card-img-top" >
                    </div>
                    <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
                        <img id="slot3"  src="./assets/imagenes/seven.png" alt="Card image cap" class="card-img-top" >        
                    </div>  
            </div> 
         </div>
         
    <hr class="my-4">
    
    <div class="row">
        <div class="billetera"> 
            MONEDAS: <p id="monedasID"></p>
            <p id="mensajeID"></p>
        </div>
        <div> 
            <button class="btnpalanca" (click)="Jugar()" ><img src="./assets/imagenes/palancabtn.png" ></button>  
        </div>
    </div>

</div>