<app-nav> </app-nav>
<!--
<div class="container" >
    <div class="row">  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Juegos" src="./assets/imagenes/games.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Juegos</h5>
              <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Listado" src="./assets/imagenes/listado.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Listados de resultados</h5>
              <p class="card-text">Los listados de los resultados con ordenamiento y busqueda.</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Juegos" src="./assets/imagenes/Configuracion.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Configuraci&oacute;n</h5>
              <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación</p>
            </div>
        </div>
  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Jugadores" src="./assets/imagenes/jugadores.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Jugadores</h5>
              <p class="card-text">Listado de jugadores</p>
            </div>
        </div>
    </div> 
  </div>-->

  <div class="container divsize">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
              <div class="frontside">
                  <div class="card cardbackimgjuegos">
                    <img class="centerimg" src="./assets/imagenes/joy.png">    
                  </div>
              </div>
              <div class="backside">
                  <div class="card">
                      <div class="card-body text-center mt-4">
                          <h4 class="card-title">Juegos</h4>
                          <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
                          <button class="btn btn-success" (click)="verifLoginJuegos()" >Jugar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Team member -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card cardbackimglistado">
                    <img class="centerimg" src="./assets/imagenes/list.png">    
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <h4 class="card-title">Listado de resultados</h4>
                        <p class="card-text">Los listados de los resultados con ordenamiento y busqueda.</p>
                        <button class="btn btn-success" (click)="verifLoginListado()">Listado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="btn-chat" id="livechat-compact-container" style="visibility: visible; opacity: 1;">
        <div class="btn-holder">
            <a class="nav-item nav-link" href="https://github.com/faustomontiel"target="_blank">en GitHub <i class="fa fa-github"></i></a>
        </div>
</div>


  <!-- Team member -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card cardbackimgconfig">
                
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <h4 class="card-title">Configuraciones</h4>
                        <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación</p>
                        <button class="btn btn-success" (click)="verifLoginConfig()">Configuraciones</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Team member -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card cardbackimgjugadores">
                        <img class="centerimg" src="./assets/imagenes/jugadores.png">
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <h4 class="card-title">Jugadores</h4>
                        <p class="card-text">Listado de jugadores</p>
                        <button class="btn btn-success" (click)="verifLoginJugadores()">Jugadores</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</div>
</div>
