<app-cabecera> </app-cabecera>

<div class="container" >
    <div class="row">  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Juegos" src="./assets/imagenes/games.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Juegos</h5>
              <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Listado" src="./assets/imagenes/listado.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Listados de resultados</h5>
              <p class="card-text">Los listados de los resultados con ordenamiento y busqueda.</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Juegos" src="./assets/imagenes/Configuracion.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Configuraci&oacute;n</h5>
              <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación</p>
            </div>
        </div>
  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Jugadores" src="./assets/imagenes/jugadores.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Jugadores</h5>
              <p class="card-text">Listado de jugadores</p>
            </div>
        </div>
    </div> 
</div>