<app-cabecera> </app-cabecera>

<div class="container" >
    <div class="row">  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Juegos" src="./assets/imagenes/games.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Juegos</h5>
              <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Listado" src="./assets/imagenes/listado.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Listados de resultados</h5>
              <p class="card-text">Los listados de los resultados con ordenamiento y busqueda.</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Juegos" src="./assets/imagenes/Configuracion.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Configuraci&oacute;n</h5>
              <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación</p>
            </div>
        </div>
  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;">
            <img routerLink="/Jugadores" src="./assets/imagenes/jugadores.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Jugadores</h5>
              <p class="card-text">Listado de jugadores</p>
            </div>
        </div>
    </div> 
  </div>
  
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
              <div class="frontside">
                  <div class="card">
                      <div class="card-body text-center">
                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                          <h4 class="card-title">Sunlimetech</h4>
                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                  </div>
              </div>
              <div class="backside">
                  <div class="card">
                      <div class="card-body text-center mt-4">
                          <h4 class="card-title">Sunlimetech</h4>
                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                          <ul class="list-inline">
                              <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="#">
                                      <i class="fa fa-facebook"></i>
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="#">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="#">
                                      <i class="fa fa-skype"></i>
                                  </a>
                              </li>
                              <li class="list-inline-item">
                                  <a class="social-icon text-xs-center" target="_blank" href="#">
                                      <i class="fa fa-google"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Team member -->
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
