<!--<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div>
-->
  <div class="container" style="margin-top: 5%;margin-left: 210px">
    <div class="row">  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;margin-left: 20px">
            <img (click)="Juego('Agilidad')" src="./assets/imagenes/cerebro.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Velocidad y agilidad aritmética</h5>
              <p class="card-text">Juego de agilidad mental</p>
            </div>
        </div>

        <div class="card col-md-3 col-sm-2 " style="width: 18rem;margin-left: 20px">
            <img (click)="Juego('Tragamonedas')" src="./assets/imagenes/tragamonedas.jpg" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Tragamonedas</h5>
              <p class="card-text">Intenta hasta tener todos iguales</p>
            </div>
        </div>
  
        <div class="card col-md-3 col-sm-2 " style="width: 18rem;margin-left: 20px">
            <img (click)="Juego('Adivina')" src="./assets/imagenes/adivina.png" alt="Card image cap" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">Adivina el número secreto</h5>
              <p class="card-text">Juega de estrategia</p>
            </div>
            
        </div>
    </div> 
  </div>