<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->
<div class="jumbotron" style="background-color: rgb(69, 50, 136)">
 <div class="row"> 
  <div style="margin-left: 20px">
    <p>Primer número:</p> 
    <input [(ngModel)]="nuevoJuego.numeroIngresado"  name="numeroIngresado" type="text"  style="width:30%;" readonly/>
  </div>

  <div style="margin-left: 20px">
    <p>Operador:</p>
     <input [(ngModel)]="nuevoJuego.numeroIngresado"  name="numeroIngresado" type="text"  style="width:30%;" readonly/>
  </div>
  
 <div style="margin-left: 20px">
  <p>Segundo número:</p>
   <input [(ngModel)]="nuevoJuego.numeroIngresado"  name="numeroIngresado" type="text"  style="width:30%;" readonly/>
 </div>
    
  <div style="margin-left: 20px">
    <p>Respuesta:</p>
    <input [(ngModel)]="nuevoJuego.numeroIngresado"  name="numeroIngresado" type="text"  style="width:30%;"/>
  </div>
  <div style="margin-left: 20px">
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </div>  
</div>
 
    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>

</div>
