<nav class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     <!-- <a class="navbar-brand" style="margin: 0px 150px 0px" href="#">Sala de Juegos</a> --> 
     <a routerLink="/Principal"><img src="./assets/imagenes/logo_sala_.png" class="media-object imagenDeMenu" ></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a  class="nav-item nav-link" routerLink="/QuienSoy">Quien Soy? <i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/faustomontiel"target="_blank">en GitHub <i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
  </nav>
